.bgImg{
    background-image: url('/src/Assets/project1.jpg');
    margin-top: 100px;
}
.button{
    position: relative;
    overflow: hidden;
}
.button::after{
    content: attr(data-content);
    position: absolute;
    height: 100%;
    width: 100%;
    bottom: -100%;
    left: 0;
    background: #fff;
    border-radius: 999px;
    transition: .3s;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000;
    font-weight: bold;
}
.button::before{
    content: attr(data-content);
    position: absolute;
    height: 100%;
    width: 100%;
    bottom: -100%;
    border-radius: 999px;
    left: 0;
    transition: .4s .2s;
    background: #131212;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    z-index: 1;
}

.button:hover::after{
    bottom: 0;
}
.button:hover::before{
    bottom: 0;  
}


/* Projects description */
.container {
    height: 80vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
    color: white;
  }
  
  .body{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 70vw;
  }
  
  .description, .tagsContainer{
    display: flex;
    justify-content: flex-end;
  }
  
  .description div{
    font-size: 12px;
    margin: 0px;
  }
  .description div:nth-of-type(1){
    margin-top: 8px;
  }
  .description div:nth-of-type(2){
    font-size: 28px;
    width: 700px;
    margin-left: 30px;
  }
  .tagsContainer{
    display: flex;
    margin-top: 50px;
  }
  

  .tags{
    display: flex;
    width: 700px;
    margin-left: 30px;
    flex-wrap: wrap;
    gap: 10px;
  }
  
  .tags p{
    border: 2px solid white;
    border-radius: 15px;
    text-transform: uppercase;
    font-size: 16px;
    padding: 10px 12px 10px 12px;
  }
  