.cursor{
    position: fixed;
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 50%;
    /* mix-blend-mode: difference; */
    pointer-events: none;
    transform-origin: center;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
}